/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-focal {
  background-color: #ff8c4a;
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;

  color: #fff;
  padding: 2px;
}

.drag-point {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: blue;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
